---
import { getCollection } from "astro:content";
import calculateWidthFit from "../../lib/utils/calculateWidthFit";

const { language } = Astro.props;

// Obtener las colecciones
const projects = await getCollection('projects');
const technologies = await getCollection('technologies');

// Crear un mapa de tecnologías para búsquedas eficientes
const technologyMap = new Map();
technologies.forEach((tech) => {
  technologyMap.set(tech.data.name, tech.data.svg);
});

---

<section id="projects" class="md:bg-dark-gradient mb-16 px-5 md:px-0 space-y-10 scroll-mt-[80px] fade-in">
  <h2 class="relative text-center text-4xl text-my-white font-semibold">
    { language === "en" ? "Projects" : "Proyectos" }

    <span class="w-30 bg-my-red rounded-full shadow-lg absolute left-1/2 transform translate-y-3 -translate-x-1/2 bottom-0 h-1 bg-gray-700"></span>
  </h2>


  <div class="w-full grid grid-cols-1 lg:grid-cols-2 gap-4 space-y-4">
    {[...projects].reverse().map((project) => {
      const { data } = project;
      const { title, members, description, technologiesNames, webSiteUrl, repositoryUrl, img } = data;

      return (
        <article
          class={`group bg-[#2A2A2A60] border-[1px] border-[#E5E7EB30] rounded-2xl flex flex-col justify-start items-center hover:shadow-gray-xs transition-all duration-300 ease-in-out`}
        >
          <div class="w-full overflow-hidden rounded-t-2xl">
            <img
              src={img}
              alt="Logo"
              class={`rounded-t-2xl group-hover:scale-105 transition-all duration-500 ease-in-out object-cover w-full h-full`}
            />
          </div>


          <div class="px-9 py-3 space-y-4">
            <div class="space-y-2">
              <div class="flex justify-between items-center">
                <h3 class="text-my-yellow text-left text-2xl font-bold">{title}<span class="mt-4 text-my-red text-left text-3xl font-bold">.</span></h3>

                {members.length === 1 && (
                  <div class="relative inline-block group">
                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:drop-shadow-md" width="26" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#FEFCFB" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15.75 6a3.75 3.75 0 1 1-7.5 0a3.75 3.75 0 0 1 7.5 0M4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.9 17.9 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632"/></svg>

                    <div class="absolute hidden group-hover:block group-hover:shadow-md right-8 top-1/2 transform -translate-y-1/2 bg-my-gray text-my-white px-2.5 py-1 rounded-xl text-xs">
                      Individual
                    </div>
                  </div>
                )}

                {members.length > 1 && (
                  <div class="relative inline-block group">
                    <svg xmlns="http://www.w3.org/2000/svg" class="group-hover:drop-shadow-md" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="#FEFCFB" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M18 18.72a9.1 9.1 0 0 0 3.741-.479q.01-.12.01-.241a3 3 0 0 0-4.692-2.478m.94 3.197l.001.031q0 .337-.037.666A11.94 11.94 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6 6 0 0 1 6 18.719m12 0a5.97 5.97 0 0 0-.941-3.197m0 0A6 6 0 0 0 12 12.75a6 6 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72a9 9 0 0 0 3.74.477m.94-3.197a5.97 5.97 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0a3 3 0 0 1 6 0m6 3a2.25 2.25 0 1 1-4.5 0a2.25 2.25 0 0 1 4.5 0m-13.5 0a2.25 2.25 0 1 1-4.5 0a2.25 2.25 0 0 1 4.5 0"/></svg>

                    <div class="absolute opacity-0 block group-hover:shadow-md right-8 top-1/2 transform -translate-y-1/2 bg-my-gray text-my-white px-2.5 py-1 rounded-xl text-xs group-hover:opacity-100 transition-opacity duration-250 ease-in-out">
                      { language === "en" ? "Teamwork" : "Grupal" }
                    </div>
                  </div>
                )}
              </div>

              <p class="text-sm text-gray-300">{ language === "en" ? description.en : description.es }</p>
            </div>

            <div class="py-2 flex flex-wrap items-center justify-center md:justify-start gap-y-2 gap-x-4 lg:gap-x-4">
              {technologiesNames.map((technologyName) => {
                const svg = technologyMap.get(technologyName);

                if (svg) {
                  const widthMatch = svg.match(/width=["']?(\d+)["']?/);
                  const widthValue = widthMatch ? widthMatch[1] : null;

                  const heightMatch = svg.match(/height=["']?(\d+)["']?/);
                  const heightValue = heightMatch ? heightMatch[1] : null;

                  const updatedSVG = svg.replace(/width=["']?(\d+)["']?/, `width="${calculateWidthFit(Number(widthValue), Number(heightValue), Number(12))}px"`).replace(/height=["']?(\d+)["']?/, `height="${12}px"`);

                  return (
                    <div class="flex items-center justify-center space-x-2 px-2.5 py-1 rounded-lg bg-white/7 shadow-sm">
                      <div class="hover:drop-shadow-md group-hover:scale-110 transition-all duration-300 ease-in-out" set:html={updatedSVG}></div>
                      <p class="text-xs text-white/85">
                        {technologyName}
                      </p>
                    </div>
                )
                }

                return null;
              })}
            </div>

            <div class="mt-3 py-3 flex flex-col md:flex-row items-center gap-4">
              { webSiteUrl ? 
                <a
                  href={webSiteUrl}
                  aria-label="Visit web"
                  target="_blank"
                  class="py-2 px-4 flex items-center gap-2 font-semibold text-sm rounded-xl shadow-md bg-gradient-to-br from-my-dark-blue to-my-dark-blue to-my-blue to-my-light-blue text-my-white hover:-translate-y-1 hover:shadow-blue hover:scale-102 active:translate-y-0 active:shadow-none transition-all duration-300 ease-in-out"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2m6.93 6h-2.95a15.7 15.7 0 0 0-1.38-3.56A8.03 8.03 0 0 1 18.92 8M12 4.04c.83 1.2 1.48 2.53 1.91 3.96h-3.82c.43-1.43 1.08-2.76 1.91-3.96M4.26 14C4.1 13.36 4 12.69 4 12s.1-1.36.26-2h3.38c-.08.66-.14 1.32-.14 2s.06 1.34.14 2zm.82 2h2.95c.32 1.25.78 2.45 1.38 3.56A8 8 0 0 1 5.08 16m2.95-8H5.08a8 8 0 0 1 4.33-3.56A15.7 15.7 0 0 0 8.03 8M12 19.96c-.83-1.2-1.48-2.53-1.91-3.96h3.82c-.43 1.43-1.08 2.76-1.91 3.96M14.34 14H9.66c-.09-.66-.16-1.32-.16-2s.07-1.35.16-2h4.68c.09.65.16 1.32.16 2s-.07 1.34-.16 2m.25 5.56c.6-1.11 1.06-2.31 1.38-3.56h2.95a8.03 8.03 0 0 1-4.33 3.56M16.36 14c.08-.66.14-1.32.14-2s-.06-1.34-.14-2h3.38c.16.64.26 1.31.26 2s-.1 1.36-.26 2z"/></svg>
                  
                  { language === "en" ? "Web Site" : "Sitio Web" }
                  
                </a>
                :
                ""
              }
              
              { repositoryUrl ? 
                <a
                  href={repositoryUrl}
                  aria-label="Visit web"
                  target="_blank"
                  class="py-2 px-4 flex items-center gap-2 text-sm rounded-xl shadow-md bg-light-gradient hover:-translate-y-1 hover:shadow-white font-semibold hover:scale-102 active:translate-y-0 active:shadow-none transition-all duration-300 ease-in-out"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 250"><path fill="#161614" d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46c6.397 1.185 8.746-2.777 8.746-6.158c0-3.052-.12-13.135-.174-23.83c-35.61 7.742-43.124-15.103-43.124-15.103c-5.823-14.795-14.213-18.73-14.213-18.73c-11.613-7.944.876-7.78.876-7.78c12.853.902 19.621 13.19 19.621 13.19c11.417 19.568 29.945 13.911 37.249 10.64c1.149-8.272 4.466-13.92 8.127-17.116c-28.431-3.236-58.318-14.212-58.318-63.258c0-13.975 5-25.394 13.188-34.358c-1.329-3.224-5.71-16.242 1.24-33.874c0 0 10.749-3.44 35.21 13.121c10.21-2.836 21.16-4.258 32.038-4.307c10.878.049 21.837 1.47 32.066 4.307c24.431-16.56 35.165-13.12 35.165-13.12c6.967 17.63 2.584 30.65 1.255 33.873c8.207 8.964 13.173 20.383 13.173 34.358c0 49.163-29.944 59.988-58.447 63.157c4.591 3.972 8.682 11.762 8.682 23.704c0 17.126-.148 30.91-.148 35.126c0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002C256 57.307 198.691 0 128.001 0m-80.06 182.34c-.282.636-1.283.827-2.194.39c-.929-.417-1.45-1.284-1.15-1.922c.276-.655 1.279-.838 2.205-.399c.93.418 1.46 1.293 1.139 1.931m6.296 5.618c-.61.566-1.804.303-2.614-.591c-.837-.892-.994-2.086-.375-2.66c.63-.566 1.787-.301 2.626.591c.838.903 1 2.088.363 2.66m4.32 7.188c-.785.545-2.067.034-2.86-1.104c-.784-1.138-.784-2.503.017-3.05c.795-.547 2.058-.055 2.861 1.075c.782 1.157.782 2.522-.019 3.08m7.304 8.325c-.701.774-2.196.566-3.29-.49c-1.119-1.032-1.43-2.496-.726-3.27c.71-.776 2.213-.558 3.315.49c1.11 1.03 1.45 2.505.701 3.27m9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033c-1.448-.439-2.395-1.613-2.103-2.626c.301-1.01 1.747-1.484 3.207-1.028c1.446.436 2.396 1.602 2.095 2.622m10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95c-1.53.034-2.769-.82-2.786-1.86c0-1.065 1.202-1.932 2.733-1.958c1.522-.03 2.768.818 2.768 1.868m10.555-.405c.182 1.03-.875 2.088-2.387 2.37c-1.485.271-2.861-.365-3.05-1.386c-.184-1.056.893-2.114 2.376-2.387c1.514-.263 2.868.356 3.061 1.403"/></svg>

                  { language === "en" ? "Repository" : "Repositorio" }
                </a> : ""
              }
            </div>
          </div>
        </article>
      );
    })}
  </div>
</section>
