---
import Layout from '../../layouts/Layout.astro';
import Projects from '../../components/home/Projects.astro';
import AboutMe from '../../components/home/AboutMe.astro';
import Skills from '../../components/home/Skills.astro';
import Education from '../../components/home/Education.astro';

const supportedLanguages: string[] = ['es', 'en'];
const defaultLanguage: string = 'en';

let language = defaultLanguage;

// Determinar el idioma a usar

// Obtener la ruta actual
const currentPath: string = Astro.url.pathname;
const languageSegment: string = currentPath.split('/')[1];

// Verificar si el segmento de idioma es válido
if (!languageSegment || !supportedLanguages.includes(languageSegment)) {
  // Obtener el idioma preferido del encabezado HTTP
  const acceptLanguage = Astro.request.headers.get('accept-language');
  const userLanguage = acceptLanguage?.split(',')[0]; // Obtiene el primer idioma preferido (por ejemplo, "es-ES")
  const primaryLanguage = userLanguage?.split('-')[0]; // Extrae el código principal (por ejemplo, "es")

  console.log ("lenguaje default: ", primaryLanguage)
  if (primaryLanguage && supportedLanguages.includes(primaryLanguage)) {
    return Astro.redirect(`/${primaryLanguage}`);
  } else {
    // Redireccionar a la ruta con el idioma detectado o por defecto
    return Astro.redirect(`/${defaultLanguage}`);
  }
} else {
  language = languageSegment;
}
---

<Layout title='Pietrantuono Franco - Software Developer'>
  <main class="min-h-screen w-full space-y-6">
    <AboutMe language={language}/>

    <Projects language={language}/>

    <Skills language={language}/>

    <Education language={language}/>
  </main>
</Layout>